module(load="imuxsock")
module(load="imklog")
module(load="imfile" mode="inotify")

$PreserveFQDN on
$DirCreateMode 0755
$FileOwner {{ rsyslog_config_FileOwner }}
$FileGroup {{ rsyslog_config_FileGroup }}
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022


$WorkDirectory {{ rsyslog_config_WorkDirectory }}
$IncludeConfig {{ rsyslog_conf_dir }}/*.cfg

# dummy input to make "rsyslogd -N 1" happy
input(type="imfile"
      File="/dev/null"
      Tag="DevNull:"
      Severity="error"
      Facility="local7")
